@use "mixin";
*{
  padding: 0;
  margin: 0;
}
.container{
  width: 100%;
  background-color: mixin.$text-color;
  min-height: 100vh;
  padding: 0.5rem;
  h1{
    @include mixin.formato-texto(red);
  }
  p{
    @include mixin.formato-texto();
  }
}
.listado{
  width: 10rem;
  background-color: aquamarine;
  padding: 0.5rem;
  ul{
    margin: 0 0.5rem;
    li{
      list-style: none;
      &:hover{
        color: aliceblue;
      }
      &:active{
        color: bisque;
      }
    }
  }
}
