/*Banner*/
.banner{
    align-items: flex-start;
    display: flex;
    background-image: url(../img/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    justify-content: center;
}
.banner__container{
    align-items: flex-start;
    display: flex;
    flex-direction: column; 
    height: 300px; 
    justify-content: flex-end;
    width: 1440px;
}
.banner__title{
    color: var(--bg-white);
    font-size: var(--size-biger);
    font-weight: var(--font-bold);
}
.banner__text{
    color: var(--bg-white);
    font-size: var(--size-big);
    font-weight: var(--font-bold);
    margin-top: 16px;
}
.banner__button{
    background-color: var(--blue-color);
    color: var(--bg-white);
    margin-top: 16px;
    padding: 16px;
}