.quienes-somos{
    padding: 5rem;
    text-align: center; 
}
.quienes-somos__titulo{
    color: #8D0606;
    font-family: Pacifico, cursive;
    font-size: 3.1875rem;
    margin-bottom: 1rem;
}
.quienes-somos__descripcion{
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}
.personas{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}
.persona{
    display: flex;
    flex-direction: column;
}
.persona__imagen--roberta{
    background: url(../img/personas/roberta.jpg);
}
.persona__imagen--marcela{
    background: url(../img/personas/marcela.jpg);
}
.persona__imagen--andrea{
    background: url(../img/personas/andrea.jpg);
}
.persona__imagen{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}
.persona__nombre{
    color: #8D0606;
    font-family: Pacifico, cursive;
    font-size: 2rem;
    margin: 1rem 0;
}
.persona__funcion{
    color: #595959;
    font-size: 1.25rem;
    text-transform: lowercase;
}

@media screen and (min-width: 0){
    .personas{
        flex-direction: column;
    }
    .persona{
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 768px){
    .personas{
        flex-direction: row;
    }
    .persona{
        margin-bottom: 0;
    }
}
