.recetas{
    background: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
}
.receta{
    background: #FDFDFD;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    
}
.receta__contenido{
    padding: 1rem;
}
.receta__imagen{
    height: 200px;
}
.receta__titulo{
    font-size: 1.4375rem;
}
.receta__descripcion{
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
}
.receta__boton{
    color: #FDFDFD;
    background: #8D0606;
    border: none;
    border-radius: 5px;
    padding: 1rem;
}

@media screen and (min-width: 0){
    .recetas{
        padding: 5rem 0 0 1rem;
    }
    .receta{
        margin-right: 1rem;
        width: 100%;
    }
}
@media screen and (min-width: 768px){
    .recetas{
        padding: 5rem 0 0 2.5rem;
    }
    .receta{
        margin-right: 2.5rem;
        width: calc(33% - 2.5rem);
    }
}
@media screen and (min-width: 922px){
    .recetas{
        padding: 5rem 0 0 5rem;
    }
    .receta{
        margin-right: 5rem;
        width: calc(25% - 5rem);
    }
}